!!! XML
%kml{ :xmlns => "http://www.opengis.net/kml/2.2" }
  %Folder
    %NetworkLink
      %name Currently open businesses
      %visibility 1
      %open 1
      %description This is a test feed, let me know if there are any problems
      %refreshVisibility 1
      %flyToView 0
      %Link
        %href= "http://" + request.host_with_port + "/search.kml"
        %refreshInterval 1
        %viewRefreshMode onStop
        %viewRefreshTime 1  
    %name Test Placemarks
    %description These are just some of the different kinds of placemarks with which you can mark your favorite places
    %Style{ :id=>"openPlacemark" }
      %IconStyle
        %Icon
          %href http://opening-times.co.uk/images/markers/open/blank.png
    %Style{ :id=>"closedPlacemark" }
      %IconStyle
        %Icon
          %href http://opening-times.co.uk/images/markers/closed/blank.png
    %Style{ :id=>"unsurePlacemark" }
      %IconStyle
        %Icon
          %href http://opening-times.co.uk/images/markers/unsure/blank.png
    %StyleMap{ :id=>"openingTimesStyleMap" }
      %Pair
        %key normal
        %styleUrl #openPlacemark
      %Pair
        %key highlight
        %styleUrl #highlightPlacemark
    
    - @facilities.each do |f|
      %Placemark
        %name= h f.full_name
        %styleUrl= "##{@status_manager.status(f).downcase}Placemark" #openingTimesStyleMap
        %description
          =h("<p><b>Opening times:</b><br />#{f.summary_normal_openings}</p>")
          =h("<p><b>Contact</b><br />#{f.full_address.gsub(',','<br />')}</p>")
          =h("<p><b>Phone:</b><br />#{f.phone}</p>") if f.phone
          =h("<p><b>Website</b><br /><a href='#{f.url}'>website</a></p>") if f.url
        %visibility 1
        %Point
          %coordinates= "#{f.lng},#{f.lat}"

