!!! XML
%kml{ :xmlns => "http://earth.google.com/kml/2.0" }
  %Folder
    %name Current status of businesses
    %Style{ :id=>"openPlacemark" }
      %IconStyle
        %Icon
          %href http://maps.google.com/mapfiles/kml/paddle/grn-blank.png
    %Style{ :id=>"closedPlacemark" }
      %IconStyle
        %Icon
          %href http://maps.google.com/mapfiles/kml/paddle/red-blank.png
    %Style{ :id=>"unsurePlacemark" }
      %IconStyle
        %Icon
          %href http://maps.google.com/mapfiles/kml/paddle/wht-blank.png
    - @facilities.each do |f|
      %Placemark
        %name= h f.full_name
        %styleUrl= "##{@status_manager.status(f).downcase}Placemark"
        %description
          =h("<p><b>Opening times:</b><br />#{f.summary_normal_openings}</p>")
          =h("<p><b>Contact</b><br />#{f.full_address.gsub(',','<br />')}</p>")
          =h("<p><b>Phone:</b><br />#{f.phone}</p>") if f.phone
          =h("<p><a href='#{f.url}'>website</a></p>") if f.url
        %Point
          %coordinates= "#{f.lng},#{f.lat}"

