%h1= @page_title = "User #{@user.id}"

%p
  Registered on
  = @user.created_at.strftime("%A %d %B %Y")
  = "(#{time_ago_in_words(@user.created_at)} ago)."

%p= page_entries_info @revisions

%h2 Recent Updates

%table.reports
  %tr
    %th ID
    %th Name
    %th{ :title => 'The revision count for this business' } Revision
    %th Diff
    %th{ :title => 'Size of the XML in bytes' } Size
    %th IP
    %th Updated
  = render :partial => 'partials/revision_row', :collection => @revisions, :as => :revision

%br
= will_paginate @revisions

