- content_for :head do
  = auto_discovery_link_tag(:atom, { :format => :xml }, { :title => 'Recent changes atom feed' } )

%h1= @page_title = 'Recent changes'

%p
  Last
  = @revisions.size
  revisions, sorted by most recent

%table.reports
  %tr
    %th ID
    %th Name
    %th{ :title => 'The revision count for this business' } Revision
    %th Diff
    %th{ :title => 'Size of the XML in bytes' } Size
    %th IP
    %th Updated
  = render :partial => 'partials/revision_row', :collection => @revisions, :as => :revision

%h2 See also

%ul
  %li= link_to 'Recently removed', recentlyremoved_path

