!!!XML
%feed{ :xmlns => "http://www.w3.org/2005/Atom" }
  %id= recentchanges_url
  %link{ :href => recentchanges_url(:format => "xml"), :rel => "self" }
  %title{ :type => "text" }= "Opening Times recent changes"
  %updated= @facilities.first.created_at.iso8601

  - @facilities.each do |f|
    %entry
      %id= facility_url(f)
      %title{ :type => "text" }= h f.full_name
      %link{ :rel => "alternate", :href => facility_slug_url(f.slug) }
      %author
        %name= "User ID: #{h(f.user_id)}"
        %uri= user_url(f.user_id)
      %updated= f.created_at.iso8601
      %summary
        = f.revision == 1 ? 'New entry' : 'Updated entry'
        =h f.comment

