- content_for :head do
  %link{ :href => url_for(:format => :xml), :rel => :alternate, :type => 'application/rss+xml' }

%h1= @page_title = "Recently removed businesses"

%table.reports
  %tr
    %th ID
    %th Name
    %th Revision
    %th Updated&nbsp;by
    %th Updated&nbsp;at
    %th Comment

  - for facility in @removed
    %tr
      %td.num= link_to facility.id, facility_path(facility.id)
      %td= link_to h(facility.full_name), facility_slug_path(facility.slug)
      %td.num= link_to facility.revision, facility_revisions_path(facility), :title => 'View the history for this facility'
      %td= link_to_updated_by(facility)
      %td
        %span{ :title => facility.updated_at.strftime("%I:%M - %d %b %Y") }= time_ago_in_words(facility.created_at) + ' ago'
      %td=h facility.comment

= render 'reports/report_list'

